.mt-3
    h5 댓글

    .mt-3
        form#comment-form.needs-validation(method='post' action='/post/' + post.board_type + '/' + post.id + '/comment' novalidate)
            .row.mb-5
                .col-10
                    textarea.form-control(name='content' aria-label='With textarea' rows='2' required)
                .col-2
                    button#comment-form-button.btn.btn-warning.h-100.mr-2(type='submit') 댓글 달기
                small.invalid-feedback.mb-5 내용을 입력하세요.

    each comment in comments
        .border-top.pt-1.pb-1
            .row.mt-2
                .col-2.col-md-2.col-lg-2
                    img(src="/images/lv" + comment.user.level + ".png" width=22 height=22)
                    | #{comment.user.nickname}
                .col-7.col-md-7.col-lg-7
                    .comment-show
                        .comment-text.mb-3=comment.content
                        span.commentId(hidden)=comment.id
                        small.d-block
                            small.comments-date=comment.createdAt
                .col-3.btn-group.btn-group-sm(role='group')
                    small.d-block
                        small.d-block
                            if user
                                -const liker = comment && comment.commentLiker.map(l => l.id).includes(user.id);
                                if user && !liker
                                    form.d-inline(method='post' action=`${post.id}/like/comment/${comment.id}`)
                                        button.likeComment.btn.btn-outline-warning.text-dark
                                            img#nolike(style=' width:20px; height:20px;  ' src='/images/egg.png')
                                            span#count(style='vertical-align: middle;') #{comment.like} LIKE
                                else if user && liker
                                    form.d-inline(method='post' action=`${post.id}/like/comment/${comment.id}/delete`)
                                        button.unlikeComment.btn.btn-outline-warning.text-dark.alert-warning
                                            img#nolike(style=' width:20px; height:20px;' src='/images/likedegg.png')
                                            span#count(style='vertical-align: middle;') #{comment.like} LIKE
                            //button.btn.btn-warning(type='button') 좋아요
                            if user && user.id === comment.user.id
                                form.d-inline(method='post' action=`${post.id}/comment/${comment.id}/delete`)
                                    button.btn.btn-outline-warning.text-dark.alert-warning(type='submit') 삭제