extends layout

block content
    .container
        #notice_name.row
            // 게시판 명
            h5 &#xC790;&#xC720;&#xAC8C;&#xC2DC;&#xD310;
            a(href='write.html')
                button.btn.btn-warning(type='button' style='display:relative; font-size:0.8rem; margin-left: 600px; ') &#xAE00;&#xC4F0;&#xAE30;
        .main_content(style='display: flex;')
            // 게시글
            table#table_id.table
                thead.thead-light(style='background-color:#f2eba7 !important;')
                    tr
                        th(scope='col') #
                        th(scope='col') 제목
                        th(scope='col') 글쓴이
                        th(scope='col') 날짜
                        th(scope='col') 댓글수
                        th(scope='col') 추천수
                tbody
                    if count === 0
                        th.text-center(colspan=4) 게시글이 없습니다.
                    else
                        each post in posts
                        tr
                            th(scope='row') 1
                            td #{post.id}
                            td #{post.title}
                            td #{post.user.nickname}
                            td #{post.createAt}
                            td #{post.like}

          // 하단 페이지 이동바
        #page_move.paging_comm
            nav(aria-label='Page navigation example')
                ul.pagination
                    li.page-item.disabled
                        a.page-link(tabindex='-1' aria-disabled='true' href='#' aria-label='previous')
                            span(aria-hidden='true') &laquo;
                    li.page-item.active(aria-current='page')
                        a.page-link(href='#')
                            | 1
                            span.sr-only (current)
                    li.page-item
                        a.page-link(href='#') 2
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 4
                    li.page-item
                        a.page-link(href='#') 5
                    li.page-item
                        a.page-link(href='#' aria-label='Next')
                            span(aria-hidden='true') &raquo;



