extends layout

block content
    .container
        .row.mt-5.justify-content-center
            .col-6
                .card
                    table.table.table-hover.table-border
                        thead.bg-warning
                            tr(align='center')
                                th.table-type(scope='col') best vs 게시판
                                th.table-title(scope='col')
                                th(scope='col')
                                th.table-comments(scope='col') 댓글
                                th.table-likes(scope='col') 추천
                                th.table-views(scope='col') 조회수
                        tbody
                            if count === 0
                                tr(align='center')
                                    th.text-center(colspan=4) 게시글이 없습니다.
                            else
                                each post in bestVsPosts
                                    tr(align='center')
                                        td.table-title
                                            a(href=`/post/${post.board_type}/${post.id}`) #{post.title}
                                        td.post-author
                                            img(src='/images/lv'+post.user.level+'.png' width=16 height=16).mr-1
                                            |#{post.user.nickname}
                                        td.post-date #{post.createdAt}
                                        td.table-comments #{post.comment_count}
                                        td.table-likes #{post.like}
                                        td.table-views #{post.views}
            .col-6
                .card
                    table.table.table-hover.table-border
                        thead.bg-warning
                            tr(align='center')
                                th.table-type(scope='col') best 자유 게시판
                                th.table-title(scope='col')
                                th(scope='col')
                                th.table-comments(scope='col') 댓글
                                th.table-likes(scope='col') 추천
                                th.table-views(scope='col') 조회수
                        tbody
                            if count === 0
                                tr(align='center')
                                    th.text-center(colspan=4) 게시글이 없습니다.
                            else
                                each post in bestFreePosts
                                    tr(align='center')
                                        td.table-title
                                            a(href=`/post/${post.board_type}/${post.id}`) #{post.title}
                                        td.post-author
                                            img(src='/images/lv'+post.user.level+'.png' width=16 height=16).mr-1
                                            |#{post.user.nickname}
                                        td.post-date #{post.createdAt}
                                        td.table-comments #{post.comment_count}
                                        td.table-likes #{post.like}
                                        td.table-views #{post.views}
        .row.mt-5.justify-content-center
            .col-6
                .card
                    table.table.table-hover.table-border
                        thead.bg-warning
                            tr(align='center')
                                th.table-type(scope='col') vs 게시판
                                th.table-title(scope='col')
                                th(scope='col')
                                th.table-comments(scope='col') 댓글
                                th.table-likes(scope='col') 추천
                                th.table-views(scope='col') 조회수
                        tbody
                            if count === 0
                                tr(align='center')
                                    th.text-center(colspan=4) 게시글이 없습니다.
                            else
                                each post in vsPosts
                                    tr(align='center')
                                        td.table-title
                                            a(href=`/post/${post.board_type}/${post.id}`) #{post.title}
                                        td.post-author
                                            img(src='/images/lv'+post.user.level+'.png' width=16 height=16).mr-1
                                            |#{post.user.nickname}
                                        td.post-date #{post.createdAt}
                                        td.table-comments #{post.comment_count}
                                        td.table-likes #{post.like}
                                        td.table-views #{post.views}
            .col-6
                .card
                    table.table.table-hover.table-border
                        thead.bg-warning
                            tr.table-title(align='center')
                                th.table-type(scope='col') 자유 게시판
                                th.table-title(scope='col')
                                th(scope='col')
                                th.table-comments(scope='col') 댓글
                                th.table-likes(scope='col') 추천
                                th.table-views(scope='col') 조회수
                        tbody
                            if count === 0
                                tr(align='center')
                                    th.text-center(colspan=4) 게시글이 없습니다.
                            else
                                each post in freePosts
                                    tr(align='center')
                                        td.table-title
                                            a(href=`/post/${post.board_type}/${post.id}`) #{post.title}
                                        td.post-author
                                            img(src='/images/lv'+post.user.level+'.png' width=16 height=16).mr-1
                                            |#{post.user.nickname}
                                        td.post-date #{post.createdAt}
                                        td.table-comments #{post.comment_count}
                                        td.table-likes #{post.like}
                                        td.table-views #{post.views}
    script(type='application/javascript').
        // how many times from write day
        setWriteTimeByClassName("post-date");

        function setWriteTimeByClassName(className) {

            let pt = $("." + className).each(function () {
                let problemTime = new Date($(this).text());
                let timeGap = getTimeGap(problemTime);

                if (timeGap == null) {
                    $(this).text(" " + problemTime.getFullYear() + '.' +
                        (problemTime.getMonth() + 1) + '.' +
                        problemTime.getDate() + '.');
                } else {
                    $(this).text(" " + timeGap);
                }


            });
        };

        function getTimeGap(timeData) {

            let nowTimeData = new Date();
            let nowSec = 0;
            let problemSec = 0;
            if (nowTimeData.getFullYear === timeData.getFullYear && nowTimeData.getMonth() === timeData.getMonth()) {
                nowSec += nowTimeData.getMinutes() * 60;
                nowSec += nowTimeData.getHours() * 60 * 60;
                nowSec += nowTimeData.getDate() * 60 * 60 * 24;

                nowSec -= timeData.getMinutes() * 60;
                nowSec -= timeData.getHours() * 60 * 60;
                nowSec -= timeData.getDate() * 60 * 60 * 24;

                //시간 전 작성
                if (nowSec < 60)
                    return "방금전";
                else if (nowSec < 3600) {
                    return nowSec / 60 + "분전";
                } else if (nowSec < 86400) {
                    return (nowSec / 3600).toFixed(0) + "시간전";
                }
            } else
                return null;


        }
