extends layout

block content
    .py-5.text-left
        h2 내정보

    .card.bg-light.mb-3.mt-5.mr-5
        .card-header
            .row
                .col-6
                    span
                        img(src='/images/lv'+user.level+'.png' width=50 height=50)
                        strong
                            h5(style="display:inline; font-weight:bold").card-title.ml-1 #{user.nickname}
                    -console.log('/images/lv'+user.level+'.png');
                .col-6.text-right
                    a(href='/profile/auth')
                        button.btn.btn-outline-info(type='button') 프로필 수정

        .card-body
            p.card-text=user.introduce
            p
                .text-right
                    p.card-text 경험치 : #{lvInfo.exp}  / #{lvInfo.reqExp}

                p
                    #profile-progress-div.progress
                        #profile-level-progress.progress-bar.progress-bar-striped.bg-info(role='progressbar'
                            style='width: 0%;' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100') #{lvInfo.per}%
                .text-right
                    span 가입일 :
                    .card-text.sign-up-date(style="display:inline;") #{user.createdAt}

    .row.mt-5
        .col-6
            .card.ml-4
                // TODO 레벨별 설명
                p ddd

        .col-6
            .card.mr-4
                // TODO 행위별 경험치 수치 설명
                p ddd


    include includes/getDate
    script.
        setWriteTimeByClassName("sign-up-date");

        window.addEventListener('load', function () {
            let level = document.getElementById('profile-level-progress');
            let progressGroup = document.getElementById('profile-progress-div');
            progressGroup.style.display = "block";
            setTimeout(function () {
                level.style.width = !{lvInfo.per} + "%";
            }, 200);
            // });
        });