extends ../layout

block content
    .container.justify-content-center
        #notice_name.row
            // 게시판 명
            //h5=type
        div
            // 게시글

            nav(aria-label='breadcrumb')
                ol.breadcrumb.mt-5.bg-warning
                    li.breadcrumb-item.active.text-dark(aria-current='page')
                        b=type

            .card.mb-1
                table#table_id.table.table-hover.table-border
                    thead.alert-secondary
                        tr(align='center')
                            //th(scope='col') #
                            th(scope='col') 제목
                            th(scope='col')
                            th(scope='col')
                            th.table-comments(scope='col') 댓글
                            th.table-likes(scope='col') 추천
                            th.table-views(scope='col') 조회수
                            if type === '내가 쓴 글'
                                th(scope='col')
                    tbody
                        if count === 0
                            tr
                                th.text-center(colspan=4) 게시글이 없습니다.
                        else
                            each post in posts
                                tr(align='center')
                                    //td #{post.id}
                                    // -let postUrl = `/post/${post.board_type}/${post.id}`;
                                    td
                                        a(href=`/post/${post.board_type}/${post.id}`) #{post.title}
                                    td 
                                        img(src="/images/lv"+post.user.level+".png" width=22 height=22)
                                        |#{post.user.nickname}
                                    td.post-date #{post.createdAt}
                                    td #{post.comment_count}
                                    td #{post.like}
                                    td #{post.views}
                                    if type === '내가 쓴 글'
                                        td
                                            form.d-inline(method='post' action=`/post/${post.id}/delete`)
                                                button.btn.btn-outline-warning.btn-outline-danger(type='submit') 삭제



        // 하단 페이지 이동바
        #page_move.paging_comm
            nav(aria-label='Page navigation example')
                ul.pagination.my
                    -console.log("start : "+ result.startPage + "   end: " + result.endPage + "   current : " + curPage + "   total : " + result.totalPage)
                    if result.startPage !== 1
                        li.page-item
                            a.page-link(href=`${path}${result.startPage - 1}${searchWordUrl}` aria-label='previous')
                                span(aria-hidden='true') &laquo;
                    else
                        li.page-item.disabled
                            a.page-link(aria-disabled='true' href='javascript:void(0);' aria-label='previous')
                                span(aria-hidden='true') &laquo;
                    -for (let i = result.startPage; i <= result.endPage; i++)
                        if i == curPage
                            li.page-item.active(aria-current='page')
                                a.page-link(href=`${path}${i}${searchWordUrl}`)
                                    span=i
                        else
                            li.page-item(aria-current='page')
                                a.page-link.text-warning(href=`${path}${i}${searchWordUrl}`)
                                    span=i
                    if result.endPage < result.totalPage
                        li.page-item
                            a.page-link(href=`${path}${result.endPage + 1}${searchWordUrl}` aria-label='Next')
                                span(aria-hidden='true') &raquo;
                    else
                        li.page-item.disabled
                            a.page-link(href='javascript:void(0);' aria-label='Next')
                                span(aria-hidden='true') &raquo;
    include ../includes/getDate
    script(type='application/javascript').
        // how many times from write day
        setWriteTimeByClassName("post-date");

