extends ../layout

block content
    .container
        nav(aria-label='breadcrumb')
            ol.breadcrumb.mt-5.pl-2.pr-2
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item.active
                    a(href='/board/free/1' aria-current='page') 자유 게시판
        .card.mt-3
            h5.card-header=post.title
            .card-body!= post.content
            .text-center.mb-3
                if user
                    -const liker = post && post.Liker.map(l => l.id).includes(user.id);
                    -console.log("liker : " + liker + "  user : " + user);
                    if user && !liker
                        button.like.btn.btn-outline-warning 좋아요 #{post.like}
                    else if user && liker
                        button.unlike.btn.btn-outline-warning 좋아요 취소 #{post.like}

        // 댓글쓰기
        .mt-3.border-bottom
            h5 댓글
            each comment in comments
                .border-top.pt-1.pb-1
                    .row
                        .col-3.col-md-2.col-lg-1.pl-4=comment.user.nickname
                        .col-6.col-md-7.col-lg-8
                            .comment-show
                                .comment-text.mb-3=comment.content
                                small.d-block
                                - let dateform = new Date(comment.createdAt)
                                - moment.locale('ko');
                                - let resultDate = moment(dateform).startOf('hour').fromNow();
                                    small=resultDate
                        .col-3.btn-group.btn-group-sm(role='group')
                            small.d-block
                                button.btn.btn-warning(type='button') 좋아요
                                button.btn.btn-outline-warning(type='button') 삭제
                                button.btn.btn-outline-warning(type='button') 신고



        .mt-3
            form#comment-form.needs-validation(method='post' action='/post/free/' + post.id + '/comment' novalidate)
                .row.mb-5
                    .col-8
                        textarea.form-control(name='content' aria-label='With textarea' rows='2' required)
                    .col-4
                        button#comment-form-button.btn.btn-warning.h-100.mr-2(type='submit') 댓글 달기
                    small.invalid-feedback.mb-5 내용을 입력하세요.




    include ../form-validation
    script(type='application/javascript').
        let unlikeTag = document.querySelector('.unlike');
        let likeTag = document.querySelector('.like');

        $(function () {
            let pathname = window.location.pathname;
            likeTag.addEventListener('click', function () {
                // let postId = document.querySelector('#post-id').value;
                let xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error(xhr.responseText);
                    }
                };
                xhr.open('POST', pathname + '/like');
                xhr.send();
            });
        });

        $(function () {
            let pathname = window.location.pathname;
            unlikeTag.addEventListener('click', function () {
                // let postId = document.querySelector('#post-id').value;
                let xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error(xhr.responseText);
                    }
                };
                xhr.open('DELETE', pathname + '/like');
                xhr.send();
            });
        })

        // $(function () {
        //     const commentForm = document.querySelector('#comment-form-button');
        //     let pathname = window.location.pathname;
        //     commentForm.addEventListener('click', function () {
        //         // let postId = document.querySelector('#post-id').value;
        //         let xhr = new XMLHttpRequest();
        //         xhr.onload = function () {
        //             if (xhr.status === 200) {
        //                 location.reload();
        //             } else {
        //                 console.error(xhr.responseText);
        //             }
        //         };
        //         xhr.open('POST', pathname + '/comment');
        //         xhr.send();
        //     });
        // });
        // $(function () {
        //     let pathname = window.location.pathname;
        //
        //     let likeTag = document.querySelector('.like');
        //     likeTag.addEventListener('click', function () {
        //         // let postId = document.querySelector('#project-id').value;
        //         likeRequest('POST')
        //             .then(function (status) {
        //                 if (status) {
        //                     location.reload();
        //                 }
        //             }).catch(function (error) {
        //             console.error(error);
        //         });
        //     });
        //
        //     function likeRequest(method) {
        //         return fetch(pathname + '/like', {
        //             method: method,
        //             headers: {
        //                 'Content-Type': 'application/json',
        //             }
        //         });
        //     }
        // });
