extends ../layout

block content
    .container
        nav(aria-label='breadcrumb')
            ol.breadcrumb.mt-5.pl-2.pr-2
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item.active
                    a(href='/board/free/1' aria-current='page') 자유 게시판
        .card.mt-3
            h5.card-header(style="display:inline;")=post.title
            .card-body.border-top!= post.content
            .row
                .col-10
                .col-2
                    p.card.mr-2
                        small(style="display:inline; float:right;" align="center").mt-1 작성자 : #{post.user.nickname}
                        small(style="display:inline; float:right;" align="center").mt-2.mb-1.post-date #{post.createdAt}


            .col
                .text-center.mb-3
                    if user
                        -const liker = post && post.postLiker.map(l => l.id).includes(user.id);
                        if user && !liker
                            button.like.btn.btn-outline-warning.text-dark
                                img#nolike(style=' width:30px; height:30px;  ' src='/images/egg.png')
                                span#count(style='vertical-align: middle;') #{post.like} LIKE
                        else if user && liker
                            button.unlike.btn.btn-outline-warning.text-dark.btn-warning
                                img#nolike(style=' width:30px; height:30px;' src='/images/likedegg.png')
                                span#count(style='vertical-align: middle;') #{post.like} LIKE

                        button.btn.btn-warning.btn-block(type='button' data-toggle='modal' data-target='#myModal' style=' width:120px;  float: right;')
                            | 게시글 신고
                        #myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' align='right' )
                            .modal-dialog(role='document')
                                .modal-content
                                    form.edit(action='/post/' + post.board_type + '/' + post.id + '/report' method='post')
                                        .modal-header
                                            //button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                span(aria-hidden='true') &times;
                                            h4#myModalLabel.modal-title 신고하기

                                        .modal-body
                                            .form-group
                                                .row-6
                                                    input#reportComment.form-control.input-group-lg(name='content'
                                                        placeholder='신고사유를 작성하세요.')
                                                    small#reportCommentHelp.form-text.text-muted
                                                        | 허위 신고 시 불이익이 있을 수 있습니다.


                                        .modal-footer
                                            .col-4
                                                button#report-button.btn.btn-warning.btn-block(type='submit') 저장
                                            button.btn.btn-default(type='button' data-dismiss='modal') 닫기



        // 댓글쓰기
        .mt-3
            h5 댓글

            .mt-3
                form#comment-form.needs-validation(method='post' action='/post/' + post.board_type + '/' + post.id + '/comment' novalidate)
                    .row.mb-5
                        .col-10
                            textarea.form-control(name='content' aria-label='With textarea' rows='2' required)
                        .col-2
                            button#comment-form-button.btn.btn-warning.h-100.mr-2(type='submit') 댓글 달기
                        small.invalid-feedback.mb-5 내용을 입력하세요.

            each comment in comments
                .border-top.pt-1.pb-1
                    .row.mt-2
                        .col-3.col-md-2.col-lg-1
                            img(src="/images/lv"+comment.user.level+".png" width=22 height=22)
                            |#{comment.user.nickname}
                        .col-6.col-md-7.col-lg-8
                            .comment-show
                                .comment-text.mb-3=comment.content
                                    span.commentId(hidden)=comment.id
                                small.d-block
                                    small.comments-date=comment.createdAt
                        .col-3.btn-group.btn-group-sm(role='group')
                            small.d-block
                                small.d-block
                                    if user
                                        -const liker = comment && comment.commentLiker.map(l => l.id).includes(user.id);
                                        if user && !liker
                                            form.d-inline(method='post' action=`${post.id}/like/comment/${comment.id}`)
                                                button.likeComment.btn.btn-outline-warning.text-dark
                                                    img#nolike(style=' width:20px; height:20px;  ' src='/images/egg.png')
                                                    span#count(style='vertical-align: middle;') #{comment.like} LIKE
                                        else if user && liker
                                            form.d-inline(method='post' action=`${post.id}/like/comment/${comment.id}/delete`)
                                                button.unlikeComment.btn.btn-outline-warning.text-dark.alert-warning
                                                    img#nolike(style=' width:20px; height:20px;' src='/images/likedegg.png')
                                                    span#count(style='vertical-align: middle;') #{comment.like} LIKE
                                    //button.btn.btn-warning(type='button') 좋아요
                                    if user
                                        form.d-inline(method='post' action=`${post.id}/comment/${comment.id}/delete`)
                                            button.btn.btn-outline-warning.text-dark.alert-warning(type='submit') 삭제
        br.mb-5
        br
        br

    include ../includes/getDate
    include ../includes/form-validation
    script(type='application/javascript').
        setWriteTimeByClassName("post-date");
        setWriteTimeByClassName("comments-date");

        let unlikeTag = document.querySelector('.unlike');
        let likeTag = document.querySelector('.like');
        $(function () {
            let pathname = window.location.pathname;
            likeTag.addEventListener('click', function () {

                // let postId = document.querySelector('#post-id').value;
                let xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error(xhr.responseText);
                    }
                };
                xhr.open('POST', pathname + '/like');
                xhr.send();
            });
        });

        $(function () {
            let pathname = window.location.pathname;
            unlikeTag.addEventListener('click', function () {
                // let postId = document.querySelector('#post-id').value;
                let xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error(xhr.responseText);
                    }
                };
                xhr.open('DELETE', pathname + '/like');
                xhr.send();
            });
        });
        // let unlikeComment = document.querySelectorAll('.unlikeComment');
        // let likeComment = document.querySelectorAll('.likeComment');
        //
        // $(function () {
        //     let pathname = window.location.pathname;
        //     likeComment.addEventListener('click', function () {
        //         let commentId = $('.commentId').val();
        //         console.log("commentId : " + commentId);
        //         let xhr = new XMLHttpRequest();
        //         xhr.onload = function () {
        //             if (xhr.status === 200) {
        //                 location.reload();
        //             } else {
        //                 console.error(xhr.responseText);
        //             }
        //         };
        //         xhr.open('POST', pathname + '/like/comment/' + commentId);
        //         xhr.send();
        //     });
        // });
        //
        // $(function () {
        //     let pathname = window.location.pathname;
        //     unlikeComment.addEventListener('click', function () {
        //         // let postId = document.querySelector('#post-id').value;
        //         let xhr = new XMLHttpRequest();
        //         xhr.onload = function () {
        //             if (xhr.status === 200) {
        //                 location.reload();
        //             } else {
        //                 console.error(xhr.responseText);
        //             }
        //         };
        //         xhr.open('DELETE', pathname + '/like/comment/');
        //         xhr.send();
        //     });
        // })
        //  /:type/:id/like/comment/:commentId